*::selection {
  background: #c2f9f6;
}

* {
  font-family: 'Chakra Petch', sans-serif;
  margin: 0;
  padding: 0;
  color: #2D3945;
  box-sizing: border-box;
}

main {
  background-color: rgba(255, 255, 255, 0.6);
}

body {
  background-image: url('../img/bg.jpg');
  background-attachment: fixed;
}

p {
  font-weight: 300;
}

header h1 {
  background-image: linear-gradient(#2D3945 10%, #46698B 140%);
  color: white;
  text-align: center;
  padding: 40px 0;
  text-transform: uppercase;
}

.header-hr-style {
  border-top: 5px #2D3945 solid;
  height: 10px;
  border-bottom: 2px #2D3945 solid;
  border-left: 0;
  border-right: 0;
}

.mid-form-hr {
  border: 1px solid #2D3945;
}

main,
footer {
  padding: 0 40px;
}

.introduction {
  text-align: center;
  padding: 40px 0;
}

.introduction p {
  color: #999;
  margin-top: 15px;
  line-height: 1.5;
}

/*Form Styles*/
form {
  display: flex;
  flex-direction: column;
}

form legend {
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 30px;
}

fieldset {
  border: 0;
  margin: 30px 0;
}

.form-slot {
  display: flex;
  flex-direction: column;
}

.form-slot label {
  margin-bottom: 5px;
  color: #2D3945;
  font-weight: 300;
  color: #46698B
}

.form-slot input::placeholder {
  color: #ccc;
  text-align: right;
  font-style: italic;
}

.form-slot input,
.form-slot select,
.form-slot textarea {
  background-color: #EFF0F1;
  border: #EFF0F2 1px solid;
  border-radius: 4px;
  padding: 10px 15px;
  transition: border 0.5s, box-shadow 0.3s;
}

.form-slot input:focus,
.form-slot select:focus,
.form-slot textarea:focus {
  outline: none;
  border: #46698B 1px solid;
  box-shadow: 0 0 2px #2D3945;
}

/*.form-slot select {*/
/*webkit-appearance: none;*/
/*This was suppsed to remove the strong OSX influence from Webkit */
/*So the select looks the same on Chrome for Mac*/
/*But it didn't pass the validation test*/
/*So I left it out, and the select field looks bad on Mac :( )*/
/*}*/
.form-slot #postcode {
  max-width: 219px;
}

.form-slot+.form-slot {
  margin-top: 20px;
}

.newslettertype-option label,
.newsletterformat-option label {
  margin-left: 15px;
}

.newslettersection textarea {
  min-height: 100px;
}

button {
  background-color: #4EBBB5;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 20px;
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;
  margin-bottom: 50px;
}

footer p {
  text-align: center;
  font-weight: 400;
  font-style: italic;
  color: #999;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (min-width:768px) {

  main,
  footer {
    max-width: 700px;
    margin: 0 auto;
  }

  .introduction {
    padding: 60px;
  }

  .introduction h2 {
    font-size: 1.8em;
  }

  .introduction p {
    margin-top: 5px;
  }

  .infosection .form-slot {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .form-slot label {
    font-weight: 500;
  }

  .infosection .form-slot label {
    width: 150px;
  }

  .infosection .form-slot input {
    flex: 3;
    align-self: flex-start;
  }

  .form-slot input,
  .form-slot select,
  .form-slot textarea {
    border: #EFF0F2 2px solid;
  }

  .form-slot input:focus,
  .form-slot select:focus,
  .form-slot textarea:focus {
    outline: none;
    border: #46698B 2px solid;
  }
}